<div class="form-group">
  <label for="{{name}}">{{label}}</label>
  <input type="{{type}}" name="{{name}}" id="{{name}}" value="{{value}}">
  {{#if error}}
    <div class="input-error">{{error}}</div>
  {{/if}}
</div>